<div class="content-video">
  <iframe src="https://www.youtube.com/embed/tkD9aNOn6v0" frameborder="0" webkitAllowFullScreen mozallowfullscreen allowFullScreen></iframe>
  <ul class="btn-list">
    <li>
      <a class="active" href="https://www.youtube.com/embed/tkD9aNOn6v0">Time Lapse</a>
    </li>
    <li>
      <a href="https://www.youtube.com/embed/k1x7athC1ks">Carl Van Vechten</a>
    </li>
    <li>
      <a href="https://www.youtube.com/embed/OLDeof-67D0?start=105">Book Scanning</a>
    </li>
  </ul>
</div>