header {
  max-width: $max-width;
  margin: 0 auto;
  padding-top: 2rem;
  h1 {
    font-size: 2.5rem;
  }
  p {
    display: none;
    @media (min-width: $break-med){
      display: block;
      font-size: 1.5rem;
      // text-transform: uppercase;
      line-height: 1.1;
      margin-bottom: 1rem;
    }
  }
  h1 + p {
    padding-top: 1rem;
    border-top: 6px double $med-gray;
  }
  p + p {
    font-size: 1rem;
    line-height: 1.1;
    color: $med-gray;
  }
}